$primary: #e7e6bf;
$highlight: #e1e093;
$pressed: #eae7c0;
$danger: #cdbeba;
$success: #b8ccb7;
$warning: #ded6a5;
$text: #fffbf8;
$link: #b4c390;
$visited: #6d8a35;
$divider: #b4c390;
$muted: #bacdbf;
