@theme {
  --color-primary: #e7e6bf;
  --color-highlight: #e1e093;
  --color-pressed: #eae7c0;
  --color-danger: #cdbeba;
  --color-success: #b8ccb7;
  --color-warning: #ded6a5;
  --color-text: #fffbf8;
  --color-link: #b4c390;
  --color-visited: #6d8a35;
  --color-divider: #b4c390;
  --color-muted: #bacdbf;
}
